
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  
}

/* Logo */
.logo img {
  height: 50px;
  width: auto;
  display: block;
  margin-left: -210px;
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px; /* space between links & icons */
  margin: 0;
  padding: 0;
  align-items: center;
  margin-right: -170px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links li a.active {
  color: yellow;
  font-weight: bold;
  font-size: 24px;
}

/* Icons (look same as links, but slightly bigger) */
.icon {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links li a.active .icon {
  color: #100f0e;
  font-weight: bold;
}


.logout-btn{
  padding: 10px;
  border: white 2px solid;
  color: red;
  border-radius: 8px;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-badge {
  background: white;
  color: red;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -6px;
}
